<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script> 
    <script type="text/javascript" src="/js/filereader.js"></script> 
    <script type="text/javascript" src="/js/jquery.ruler.js"></script> 
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
    <%- body %>
</body>
</html>
